html,
body {
    background-color: royalblue;
}

.content {
    width: 100%;
}

body {
    color: #ffffff;
}

.stamp {
    padding: 0 20%;
}

.userslist {
    width: 80%;
    height: 100vh;
    overflow: overlay;
    border-right: royalblue solid 4px;
}

.side .list-group-item {
    border-radius: unset;
    border: none;
    border-bottom: royalblue solid 1px;
    color: royalblue;
    margin-bottom: 0
}

.side {
    width: 35%;
    height: 100vh;
    background: #fff;
    /* color: royalblue; */
}

.kanaindex {
    width: 20%;
}

.main {
    width: 65%;
    padding: 4%;
}

h1 {
    font-size: 1.6rem;
}

a,
a:hover {
    color: #ffffff
}

.button {
    display: inline-block;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    /* padding: 6% 0; */
    width: 140px;
    height: 140px;
    background: royalblue;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: #fff solid 4px;
}

.button:hover {
    color: royalblue;
    background: #ffffff;
}
