html,
body {
    background-color: royalblue;
}

.content {
    width: 100%;
}

body {
    color: #ffffff;
    /* padding: 4%; */
}

.side {
    width: 50%;
}

.main {
    width: 50%;
    padding: 4%;
}

h1 {
    font-size: 1.6rem;
}

a,a:hover {
    color: #ffffff
}
