html,
body {
    background-color: royalblue;
    color: #ffffff;
}

/* 共通 */

h1 {
    font-size: 1.6rem;
}

a,
a:hover {
    color: #ffffff;
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.msg {
    font-size: x-large;
}

.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: royalblue;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: #fff solid 2px;
}

.button:hover {
    color: royalblue;
    background: #ffffff;
}

.button.round {
    width: 3em;
    height: 3em;
    font-size: 3rem;
    border-radius: 50%;
}

.button.square {
    display: block;
    width: 10em;
    margin: 3% auto;
    font-size: 2.5rem;
    padding: 0.2em 0;
}

.button.square_min {
    padding: 0.5em;
    border: #fff solid 1px;
    font-size: 1rem;
}

.common {
    padding: 5%;
}

.header {}

.content {
    margin: 5% 0;
}

.footer {
    margin-top: 8%;
    /* border-top: #fff solid 1px; */
    padding-top: 1rem;
}


/* 打刻画面 */

.stamp .main {
    min-width: inherit;
    width: 60%;
    padding: 4%;
}

.stamp .main .stampbox {
    margin-top: 10%;
}

.stamp .side {
    min-width: fit-content;
    width: 40%;
    background: #fff;
}

.stamp .side .userslist {
    min-width: fit-content;
    width: 85%;
    overflow: auto;
    border-right: royalblue solid 4px;
    overflow-x: hidden;
    height: 100vh;
}

.stamp .side .kanaindex {
    width: 15%;
}

.stamp .side .list-group-item {
    border-radius: unset;
    border: none;
    border-bottom: royalblue solid 1px;
    color: royalblue;
    margin-bottom: 0;
    padding: 0.5rem;
}

.stamp .side .namebox_name {
    margin-bottom: 0;
}

.stamp .side .namebox {
    margin-bottom: 0.25rem;
    margin-right: 1rem;
    margin-top: 0.25rem;
}

.stamp .side .namebox_id {
    width: 3em;
}

.stamp .side .namebox_attend_in {
    background-color: royalblue;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
}

.stamp .side .namebox_attend_out {
    background-color: #ccc;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0;
}
